#loginContainer div{
    margin-top:200px;
}
body {
    background-color:#728da0;
}
.searchDiv{
    position:relative;
    height:30vh;
    background: url('../img/ImageAccueil.jpg') no-repeat center center;
    background-size: 100%;
    background-repeat:no-repeat;
    background-position:center;
}
.searchbar{
    position:absolute;
    top: 60%;
    left:30%;
    width:40%;
}

.navbar{
    margin-bottom:auto;
}

.carousel-caption h3 span{
    /*background-color: #343a40;*/
}

.img-fluid{
    width : 300px;
    object-fit:cover;
}
